In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('kayla_output.csv')

In [25]:
df['Date'] = pd.to_datetime(df[['Year', 'Month']].assign(DAY=1))
df

     verified  Month  Year   count       Date
0       False      5  1996       1 1996-05-01
1       False      6  1996       2 1996-06-01
2       False      8  1996       1 1996-08-01
3       False      9  1996       1 1996-09-01
4       False     11  1996       9 1996-11-01
..        ...    ...   ...     ...        ...
521     False      8  2018   33177 2018-08-01
522     False      9  2018   11752 2018-09-01
523      True      9  2018  147571 2018-09-01
524      True     10  2018    1588 2018-10-01
525     False     10  2018     116 2018-10-01

[526 rows x 5 columns]

In [35]:
df_verified = df.groupby(['Date'])['count'].sum().reset_index()
df_verified = df_verified.rename(columns={"count": "count_all"})
df_verified

          Date  count_all
0   1996-05-01          1
1   1996-06-01          2
2   1996-08-01          1
3   1996-09-01          1
4   1996-11-01          9
..         ...        ...
263 2018-06-01    1037624
264 2018-07-01     783643
265 2018-08-01     493138
266 2018-09-01     159323
267 2018-10-01       1704

[268 rows x 2 columns]

In [39]:
df

     verified  Month  Year   count       Date
0       False      5  1996       1 1996-05-01
1       False      6  1996       2 1996-06-01
2       False      8  1996       1 1996-08-01
3       False      9  1996       1 1996-09-01
4       False     11  1996       9 1996-11-01
..        ...    ...   ...     ...        ...
521     False      8  2018   33177 2018-08-01
522     False      9  2018   11752 2018-09-01
523      True      9  2018  147571 2018-09-01
524      True     10  2018    1588 2018-10-01
525     False     10  2018     116 2018-10-01

[526 rows x 5 columns]

In [37]:
total = df_verified.merge(df, left_on=['Date'], right_on=['Date'])
total

          Date  count_all  verified  Month  Year   count
0   1996-05-01          1     False      5  1996       1
1   1996-06-01          2     False      6  1996       2
2   1996-08-01          1     False      8  1996       1
3   1996-09-01          1     False      9  1996       1
4   1996-11-01          9     False     11  1996       9
..         ...        ...       ...    ...   ...     ...
521 2018-08-01     493138     False      8  2018   33177
522 2018-09-01     159323     False      9  2018   11752
523 2018-09-01     159323      True      9  2018  147571
524 2018-10-01       1704      True     10  2018    1588
525 2018-10-01       1704     False     10  2018     116

[526 rows x 6 columns]

In [44]:
total.to_csv('counts_pc2.csv')